<div class="about-me-bg">
    <div class="row">
        <div class="col col-sm">
            <img class="watermark" src="assets/logo.svg" alt="">
            <div class="container" class="about-me">
                <div class="row">
                    <h2>O mnie</h2>
                </div>
                <div class="text text-about-me">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque, eveniet, excepturi incidunt
                        iure minima nobis nulla quasi repellendus reprehenderit similique sint voluptates voluptatum.
                        Consectetur, eius similique! Debitis, dicta, necessitatibus?</p>
                </div>
            </div>
        </div>
        <div class="col col-sm">
            <div class="container" class="about-me">

                <div class="row">
                    <h2>skontaktuj się ze mną</h2>
                </div>
                <div class="text text-about-me">
                    513-738-040
                </div>
                <div class="text text-about-me">
                    szumacher.klaudia@gmail.com
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
