/*.bg {*/
/*    !* The image used *!*/
/*    background-image: url("../../../assets/1_grafit/fire_bg.png");*/
/*    !* Full height *!*/
/*    height: 100%;*/
/*    !* Center and scale the image nicely *!*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/


/*.grafit-logo {*/
/*    position: absolute;*/
/*    max-height: 15%;*/
/*}*/

/*.col-6 {*/
/*    padding-left: 7px !important;*/
/*    padding-right: 8px !important;*/
/*}*/


/*@media all and (min-device-width: 1120px) {*/
/*    .col-xl-6 {*/
/*        height: 100vh;*/
/*    }*/

/*    .wizytowki-mockup {*/
/*        position: absolute;*/
/*        top: 0;*/
/*    }*/

/*    .office-mockup {*/
/*        position: absolute;*/
/*        bottom: 0;*/
/*    }*/

/*    .img-wizytowki {*/
/*        height: 100vh;*/
/*        width: 100%;*/
/*    }*/

/*    .grafit-logo {*/
/*        position: absolute;*/
/*        max-height: 50%;*/
/*    }*/

/*}*/

/*@media all and (max-device-width: 720px) {*/

/*    .wizytowki-mockup{*/
/*        max-height: 20vh;*/
/*    }*/
/*    .grafit-logo {*/
/*        position: absolute;*/
/*        margin: 5% 5% 0 0;*/
/*    }*/

/*}*/


.grafit-bg {
    background-color: #3A3A3A !important;
    height: 100%;
}

.mockup-box {

}

.img {
    position: absolute;
    max-height: 100vh;
    max-width: 100vw;
}
.grafit-mockup-dot{
    position: absolute;
    top: 2%;
    left: 43%;
}
.szyld-dot{
    position: absolute;
    right: 7%;
    top: 40%;
}


.row{
    padding: 0 15%;
}
.grafit-building{
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--building-mock-width);
    max-width: var(--building-mock-width);
    transition: .3s width ease-in-out;

}
.grafit-building:hover{

}
