<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
    <div class="section">
        <app-dashboard></app-dashboard>
    </div>
    <div class="section">
        <app-grafit></app-grafit>
    </div>
    <div class="section">
        <app-bh1></app-bh1>
    </div>
    <div class="section">
        <app-bh2></app-bh2>
    </div>
    <div class="section">
        <app-swist></app-swist>
    </div>
    <div class="section">
        <app-skrybe></app-skrybe>
    </div>
    <div class="section">
        <app-gaia-tree></app-gaia-tree>
    </div>
    <div class="section">
        <app-galeria></app-galeria>
    </div>
    <div class="section">
        <app-o-mnie></app-o-mnie>
    </div>
</div>
