<div class="row">
    <div class="col span-1-of-5">
        <div class="row">
            <img class="watermark" src="assets/logo.svg" alt="">
        </div>
        <div class="row">
            <img src="assets/2%20bh1/boost%20high%20logo.svg" alt="">

        </div>
        <div class="row">
            <div class="title-subpage">BOOST HIGH</div>
        </div>
        <div class="row">
            <div class="description">logo&brand</div>
        </div>
        <div class="row text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad et exercitationem quasi
            reiciendis
            voluptatibus. Asperiores expedita iste iure maiores porro quam sint. A expedita laboriosam officia quidem
            quos repellendus tenetur!
        </div>
    </div>
    <div class="col span-4-of-5">
        <div class="image-wrapper">
            <img class="img-fluid animation" id="boosthigh1" src="assets/2%20bh1/boost%20hight%20identity.jpg" alt="">
        </div>
    </div>
</div>
