@media all and (max-device-width: 720px){
    .main-text {
        font-size: 18px;
    }
}


#boosthigh1{
    max-height: 100vh;
}
.text-block{
}
#bh-logo{
    margin-top: 15vh;

}
.watermark{
    position: absolute;
}
