<div class="row">
    <div class="col-5">
        <svg-icon [svgStyle]="watermarkStyle" src="assets/logo.svg"></svg-icon>
        <div class="row">
            <div class="col">
                <div class="image-wrapper">
                    <img id="gaia-logo" src="assets/7_gaiatree/logo_gaiatree_1.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="gaia-bg"></div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="title-subpage">GaiaTree</div>
                </div>
                <div class="row">
                    <div class="description">logo</div>
                </div>
                <div class="row">
                    <div class="text">An effect of my cooperation with Gaiatree project is logo symbolizing connection
                        between the project and nature. I emphasized focus on global ecology by creating logo
                        illustrating leaves on globe-shaped background.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
