/* You can add global styles to this file, and also import other style files */
:root {
    --text-color: #4A4A4A;
    --navbar-color: #fff;
    --watermark-base: #707070;
    --watermark-base-bright: #fff;
}

body {
    background-color: #D9D9D9 !important;
}

.text {
    font-size: 3vh;
    color: var(--text-color);
    padding-left: 5%;
}

.title-subpage {
    font-weight: bold;
    font-size: 4vh;
    color: var(--text-color);
    padding-left: 5%;
}

.description {
    font-size: 4vh;
    color: var(--text-color);
    padding-left: 5%;
}



.animation {
    transition: transform .3s ease-out;
    overflow: hidden;
}

.animation:hover {
    transform: rotate(5deg) scale(1.4);
}

.image-wrapper {
    overflow: hidden;

}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: var(--navbar-color) !important;
}


@media all and (max-device-width: 640px) {
    .main-text {
        font-size: 16px;
    }

    .wizytowki-mockup {
        margin: 0 25vw;
    }

    .grafit-logo {

    }

    .text {
        margin: 0 5%;
    }

    .title-subpage {
        margin: 0 5%;
    }

    .description {
        margin: 0 5%;
    }

    .grafit-logo {
        right: 5% !important;
        max-height: 25% !important;
        top: 0 !important;
    }

    .watermark {
        /*padding: 0 0 2% 0!important;*/
        /*max-height: 10vh!important;*/
    }
}

@media all and (max-device-width: 320px) {
    .main-text {
        font-size: 12px;
    }

}
.full{
    height: 100vh;
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

