/* You can add global styles to this file, and also import other style files */
:root {
    --text-color: #4A4A4A;
    --navbar-color: #fff;
}

body {
    background-color: #D9D9D9 !important;
}

.text {
    font-size: 3vh;
    color: var(--text-color);
}

.title-subpage {
    font-weight: bold;
    font-size: 4vh;
    color: var(--text-color);
}

.description {
    font-size: 4vh;
    color: var(--text-color);
}

.watermark {
    position: absolute;
    max-height: 15vh;
    padding: 3vh;
    filter: opacity(0.6);
}

.animation {
    transition: transform .3s ease-out;
    overflow: hidden;
}

.animation:hover {
    transform: rotate(5deg) scale(1.4);
}

.image-wrapper {
    overflow: hidden;

}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: var(--navbar-color) !important;
}



/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .text{
        font-size: 15px;
        padding: 0 2%;
    }
}

