/* You can add global styles to this file, and also import other style files */
:root{
    --text-color: #4A4A4A;

}
body{
    background-color: #D9D9D9!important;
}
.text {
    font-size: 3vh;
    color: var(--text-color);
}
.title-subpage{
    font-weight: bold;
    font-size: 4vh;
    color: var(--text-color);
}
.description {
    font-size: 4vh;
    color: var(--text-color);
}
.watermark{
    position: absolute;
    max-height: 15vh;
    padding: 3vh;
    filter: opacity(0.6);
}
.animation{
    transition: transform .3s ease-out;
    overflow: hidden;
}
.animation:hover{
    transform: rotate(5deg) scale(1.4);
}
.image-wrapper{
    overflow: hidden;

}
