.koszulka {
    max-height: 100vh;
}
.scrum{
    max-height: 100vh;
    padding: 5%
}

.szara {
    margin-top: 15vh
}

.czarna {
    position: absolute;

}

@media only screen and (max-width: 780px) {
    .szara {
        margin-top: 5vh

    }

    .watermark {
        position: absolute;
        top: 0;
        left: 0;
    }

    .d-block {
        height: 100vh !important;
    }
}
.title-subpage{
    margin-top: 4%;
}
