<div class="row">
    <div class="col-6">
        <div class="row">
            <img class="watermark" src="assets/logo.svg" alt="">
        </div>
        <div class="row">
            <img class="logo-swist" src="assets/4_swist/logo_swist.svg" alt="">
        </div>
        <div class="row image-container">
            <div class="col-xl-3 col-12">
                <div class="image-wrapper">
                    <img class="img-fluid animation rapee" src="assets/4_swist/swist_latawiec.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-12">
                <div class="image-wrapper">
                    <img class="img-fluid animation rapee" src="assets/4_swist/swist_uboze.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-12">
                <div class="image-wrapper">
                    <img class="img-fluid animation rapee" src="assets/4_swist/swist_wila.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-12">
                <div class="image-wrapper">
                    <img class="img-fluid animation rapee" src="assets/4_swist/swist_jaga.png" alt="">
                </div>
            </div>
        </div>

        <div class="row"></div>
    </div>
    <div class="col-6 swist-bg">
        <div class="row">
            <div class="text-content">
                <div class="titile-subpage">Świst</div>
            </div>
        </div>
    </div>
</div>
