.swist-bg{

    /* The image used */
    background-image: url("../../../assets/4_swist/swist_bg.png");
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.logo-swist{
    max-width: 33vw;
    margin-top: 15vh;
    margin-left: 9vw;
}

.rapee{
    float:left;
    max-width: 16vh;
}
.text-content{
    padding: 25vh;
}
.image-container{
    margin-top: 70vh;
    margin-left: 3vw;
    opacity: 1;
    /*animation: wjazd 5s ease-in 3s forwards;*/
    transition: 1.5s margin-top ease-in-out , 0.1s opacity ease-in-out;
}
.image-container.fromButtom{
    margin-top: 28vh;
}
.blind{
    opacity: 0;
}
@media all and (max-device-width: 640px) {
    .image-container{
        margin-top: 15%;
        margin-left: 12%;
    }
    .watermark{
        margin: 2% 0 0 10%;
    }
}
@-webkit-keyframes wjazd {
    form {
        opacity: 0;
        margin-top: 35vh;

    }
    to {
        margin-top: 28vh;
        opacity: 1;
    }
}
